*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
.tituloInicio{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
body{

    /*background: #D3CCE3;*/
    /*background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6*/
    /*background: linear-gradient(to right, #E9E4F0, #D3CCE3);*/
    
}


.miSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.miSection__article{
    margin: 3vw;
    padding: 0.5vh 1vw;
}
.miSection__article img{
    width: 20vh;
}

.miSection__article:hover{
    transform: scale(1.1);
    background-color: #ffffff;
    transition: 0.7s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    border-radius: 2px solid #4CAF50;
}

.myButton{
    width: 10vh;
    height: 4vh;
    border-radius: 30px;
    border-color: #4CAF50;
}

.myButton:hover{
    color: white;
    background-color: #4CAF50;

}
.logoGimnasio{
    display:block;
    margin: auto;
    width: 5vw;
}
h1{
    text-align: center;
}
.headerNav__nav-menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
.button-checkout{
    border-color: #4CAF50;
    border-radius: 7%;
    width: 10vh;
    height: 5vh;
}
.sectionButton{
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
}
.button-checkout:hover{
    color: white;
    background-color: #4CAF50;
}
.headerNav__nav-item{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 2vh;
    width: 20vh;
}
.itemA{
    text-decoration: none;
    color: black;
    width: 8%;
}
.itemA:hover{
    color: white;
    background-color: #f8412c;
    border-radius: 8px;
    transition: 0.3s;
}

.lorem{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 100%;
}
.loremArticle:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}

.formControl{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 3%;
    margin: auto;
    padding-bottom: 5%;
}
h2{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.lorem img{
    width: 30vw;
    float: left;
}
.loremArticle{
    padding: 1%;
}

.navFooter__menu{
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 3vw;
}
.navFooter__item{
    padding: 2%;
}
i{
    color: black;
}
i:hover{
    color: #f8412c;
    transform: scale(1.2);
    transition: 0.3s;
}
@media screen and (min-width:240px){
    .navFooter__menu{
        font-size: 50px;
    }
    .button-checkout{
        width: 10vh;
        height: 10vh;
    }
}
@media screen and (max-width:700px) and (orientation: landscape){
    .navFooter__menu{
        font-size: 50px;
    }
    .button-checkout{
        width: 10vh;
        height: 10vh;
    }
}